<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Active Orders
          <small><a href="/past_orders">Past Orders</a></small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Active Orders</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Order Id</th>
                      <th>Category</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Student</th>
                      <th>Borrowed at</th>
                      <th>
                        <i class="ion ion-log-in"></i>
                      </th>
                      <th>
                        <i class="ion ion-loop"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @active.each do |order| %>
                    <tr>
                      <td>
                        <%= order.item.id %>
                      </td>
                      <td>
                        <%= order.item.category %>
                      </td>
                      <td>
                        <%= order.item.name %>
                      </td>
                      <td><%= order.quantity %></td>
                      <td>
                        <%= order.student.name %>
                      </td>
                      <td><%= order.created_at.strftime("%m/%d/%Y, %H:%M") %></td>
                      <td>
                        <%= link_to "", { :controller => :orders, :action => :disable, :id => order.id }, { class: "ion ion-log-in"} %>
                      </td>
                      <td>
                        <%= link_to "", { :controller => :orders, :action => :renew, :id => order.id }, { class: "ion ion-loop"} %>
                      </td>
                      <td >
                        <%= link_to order, method: :delete, data: { confirm: 'Are you sure? If you are trying to return an item it is recommended to use the "return" button.' } do %>
                        <i class="ion ion-trash-b"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
</body>
