<%= form_for(mentor) do |f| %>
  <% if mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% mentor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :upc %>
    <%= f.text_field :upc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
