<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          List of Checkins
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Checkin List</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Room/Workshop</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @checkins.each do |checkin| %>
                    <tr>
                    <% if checkin.student == nil %>
                        <td> Invalid student %></td>
                        <td><%= NA %></td>
                        <td><%= link_to 'Delete', checkin, method: :delete, data: { confirm: 'Are you sure you want to delete this checkin?' } %></td>
                    <% else %>
                        <td><%= checkin.student.name %></td>
                        <td><%= checkin.room.name %></td>
                        <td><%= link_to 'Delete', checkin, method: :delete, data: { confirm: 'Are you sure you want to delete this checkin?' } %></td>
                    <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>

            <section class="content-header">
                <h1>
                    Generate Raffle Winner
                </h1>
            </section>
            <div class="box">
                <div class="box-footer">
                    <span>
                        <input style="float: left" id="jo" type="submit" name="commit" value="Generate Winner" class="btn btn-primary" data-disable-with="Submit"/>
                        <div style="float: right; margin-right: 25px; margin-top: 3px; font-size: 20px" id="winner"></div>
                    </span>
                </div>
            </div>

          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
        var names = [];
        var tablex = document.getElementsByTagName('table');
        console.log(tablex);
        var table = document.getElementsByTagName('table')[0];
        console.log(table)
        var rows = table.rows;
        for (var i = 1; i < rows.length; i++) {
            var name = rows[i].cells[0].innerHTML;
            console.log(name)
            names.push(name);
        }
      $("#jo").click(function() {
        var checkin_names = <%= raw @checkin_names %>;
        if (checkin_names.length == 0) {
          $("#winner").text("No students checked in yet")
        } else {
          var winner = checkin_names[Math.floor(Math.random() * checkin_names.length)];
          console.log(checkin_names)
          console.log(winner)
          $("#winner").text(winner + " wins!")
        }
      })
    });
  </script>
</body>
